extends ../layout

block content
  div(class="container-fluid")
    div(class="card")
      div(class="card-header")
        h3 Manage Accounts
      
      div(class="card-block")
        include blox/user_agreement
      
        if user.google
          include blox/google
      
        if user.github
          include blox/github
      
        include blox/footer

  div(class="container-fluid")
    div(class="card")
      div(class="card-block")
        h3 Login Count: #{user.login_count}
  
  div(class="container-fluid")
    div(class="card")
      div(class="card-header")
        h3 Profile
      div(class="card-block")
        a(href='/account/#{String("00000" + user.file ).slice(-5)}.json') '/account/#{String("00000" + user.file ).slice(-5)}.json'
  
  div(class="container-fluid")
    div(class="card")
      div(class="card-header")
        h3 Update Profile Information  

      div(class="card-block")
        form.form-horizontal(action='/account/profile', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.col-sm-3.control-label(for='email') Email
            .col-sm-7
              input.form-control(type='email', name='email', id='email', value='#{user.email}')
          .form-group
            label.col-sm-3.control-label(for='name') Name
            .col-sm-7
              input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
          .form-group
            label.col-sm-3.control-label(for='gender') Gender
            .col-sm-4
              label.radio.col-sm-4
                input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
                span Male
              label.radio.col-sm-4
                input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
                span Female
          .form-group
            label.col-sm-3.control-label(for='location') Location
            .col-sm-7
              input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
          .form-group
            label.col-sm-3.control-label(for='website') Website
            .col-sm-7
              input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn.btn-primary(type='submit')
                i.fa.fa-pencil
                | Update Profile

  div(class="container-fluid")
    div(class="card")
      div(class="card-header")
        h3 Add Accounts
      div(class="card-block")
        if !user.google
          a(href='/auth/google', class="btn btn-primary") Authorize your Google account
        
        if !user.github
          a(href='/auth/github', class="btn btn-primary") Authorize your GitHub account

  div(class="container-fluid")
    div(class="card")
      div(class="card-header")
        h3 Deactivate Account
      div(class="card-block")
        form(action='/account/delete', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-danger(type='submit')
              i.fa.fa-trash
              | Deactivate my account
