extends ../layout

block content

  .row.profile
    .col-md-3.bd-sidebar
      nav#navbar-sidebar.navbar.navbar-light.bg-faded.fixed(data-spy="scroll")
        .nav.navbar-nav
          <a class="nav-brand nav-link anchorjs-link" href="#headingProfileInfo">Profile</a>
          <a class="nav-brand nav-link" href="#headingUpdateProfileInfo">Update Profile</a>
          <a class="nav-brand nav-link" href="#headingManageAccounts">Manage Accounts</a>
          <a class="nav-brand nav-link" href="#headingAddAccounts">Add Accounts</a>

    .col-md-9.bd-content
      .row.text-center(style={"margin-bottom":"-40px"})
        h1 My Accounts
      
      .row#headingProfileInfo
        .page-header
          h3 Profile

        #collapseProfileInfo

          p You have logged in #{user.login_count} times.

          p
            a.btn.btn-primary(href='/account/#{String("00000" + user.file ).slice(-5)}.json') 
              i.fa.fa-eye
              | Access your profile's data

          // Button trigger modal
          button.btn.btn-danger(type="button", data-toggle="modal", data-target="#modalDeactivateAccount") 
            i.fa.fa-trash
            | Deactivate my account

          #modalDeactivateAccount.modal.fade
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                  h4.modal-title Deactivate account
                .modal-body I agree to deactivate my account.
                .modal-footer 
                  form.form-horizontal(action='/account/delete', method='POST')
                    .form-group
                      button.btn.btn-default(type="button", data-dismiss="modal") Cancel

                      input(type='hidden', name='_csrf', value=_csrf)
                      button.btn.btn-danger(type='submit') Deactivate


      .row#headingUpdateProfileInfo
        .page-header
          h3 Update Profile Information  

        #collapseUpdateProfileInfo
          form.form-horizontal(action='/account/profile', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-sm-3.control-label(for='name') Name
              .col-sm-7
                input.form-control(type='text', name='name', id='name', value=user.profile.name)
            .form-group
              label.col-sm-3.control-label(for='email') Email
              .col-sm-7
                input.form-control(type='email', name='email', id='email', value=user.email)
            .form-group
              label.col-sm-3.control-label(for='gender') Gender
              .col-sm-7(role="group")
                label.radio.radio-inline
                  input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
                  span Male
                label.radio.radio-inline
                  input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
                  span Female
                label.radio.radio-inline
                  input(type='radio', checked=user.profile.gender=='not-disclosed', name='gender', value='not-disclosed', data-toggle='radio')
                  span Not disclosed
            .form-group
              label.col-sm-3.control-label(for='location') Location
              .col-sm-7
                input.form-control(type='text', name='location', id='location', value=user.profile.location)
            .form-group
              label.col-sm-3.control-label(for='website') Website
              .col-sm-7
                input.form-control(type='text', name='website', id='website', value=user.profile.website)
            .form-group
              .col-sm-offset-3.col-sm-4
                button.btn.btn.btn-primary(type='submit')
                  i.fa.fa-pencil
                  | Update Profile


      .row#headingManageAccounts
        .page-header
          h3 Manage Accounts &nbsp;&nbsp;&nbsp; 
          
            .btn-group(role="group", aria-label="Button group with nested dropdown")
              .btn-group(role="group")

                button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Authorizations
                
                .dropdown-menu(aria-labelledby="btnGroupDrop1")
                  a.dropdown-item(href="#") Identity
                  a.dropdown-item(href="#") Public information
                
              .btn-group(role="group")
                button#btnGroupDrop2.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Counterparties
                
                .dropdown-menu(aria-labelledby="btnGroupDrop2")
                  a.dropdown-item(href="#") Google
                  a.dropdown-item(href="#") Github
                

        #collapseManageAccounts
          // Agreement card
          .card
            div.card-header.bg-faded
              h3.card-title.text-center iAuth Agreement
              .card-block
                p.card-text.text-center We (IAuth UnWorkshop and You, <strong>Gabriela</strong>) agree to the following:
                
                ul.card-text
                  li 
                    <strong>No Breaking Laws</strong>: Neither UnWorkshop nor You, Gabriela, will be breaking laws as part of providing using this service.
                  li
                    <strong>Authorizations</strong>: Both UnWorkshop and You, Gabriela, agree to the authorizations that follow below.

                p#headingAgreementDetails.text-center
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapseAgreementDetails", aria-expanded="true", aria-controls="collapseAgreementDetails") 
                    i.fa.fa-caret-down 
                    span Read detailed agreement

                #collapseAgreementDetails.panel-collapse.collapse.out(aria-labelledby="headingAgreementDetails")

                  p IAuth UnWorkshop and GitHub use your information in accordance with their respective terms of service and privacy policies. You can change this and other Account Permissions at any time.

                  p IAuth UnWorkshop uses third party services for you to login and integrate other apps. These authorizations are basic parts of how IAuth works to enable UnWorkshop app. IAuth and the third party services use your information in accordance with the respective terms of service and privacy policies. You can change or revoke the authorization at any time.


          // Card group
          .card-deck-wrapper

            .card-deck

              if user.github
                // Github
                .card
                  .card-header.card-inverse.card-info
                    h3.card-title 
                      span Github
                      .right
                        i.fa.fa-github
                  .card-block
                    span.label.label-default Identity 
                    &nbsp;
                    span.label.label-default Public information 

                    span#headingAccountGithub.label.label-link
                      a(data-toggle="collapse", data-parent="#accordion", href="#collapseAccountGithub", aria-expanded="true", aria-controls="collapseAccountGithub") 
                        span Details &nbsp;
                        i.fa.fa-caret-down
                    
                    #collapseAccountGithub.card-text.panel-collapse.collapse.out(aria-labelledby="headingAccountGithub")
                      <br />
                      p Original text:
                      ul.card-text
                        li <strong>Identify you</strong>
                        li Read <strong>public information</strong>
                  
                  .card-footer
                    small.text-muted 2 days ago &nbsp;&nbsp;&nbsp;
                    a.btn.link.text-danger(href='/account/unlink/github') Unauthorize

              
                // Google+
                .card
                  .card-header.card-inverse.card-info
                    h3.card-title
                      span Google+
                      .right
                        i.fa.fa-google-plus
                  .card-block
                    span.label.label-default Email
                    &nbsp;
                    span.label.label-default Public profile

                    span#headingAccountGoogle.label.label-link
                      a(data-toggle="collapse", data-parent="#accordion", href="#collapseAccountGoogle", aria-expanded="true", aria-controls="collapseAccountGoogle") 
                        span Details &nbsp;
                        i.fa.fa-caret-down
                    
                    #collapseAccountGoogle.card-text.panel-collapse.collapse.out(aria-labelledby="headingAccountGoogle")
                      <br />
                      p Original text:
                      ul.card-text
                        li View your <strong>email address</strong>
                        li View your <strong>basic profile info</strong>

                  .card-footer
                    small.text-muted 2 days ago &nbsp;&nbsp;&nbsp;
                    a.btn.link.text-danger(href='/account/unlink/google') Unauthorize
            

      .row#headingAddAccounts
        .page-header
          h3 Add Accounts

        #collapseAddAccounts
          .form-horizontal.container
            .form-group
              if !user.google
                p.col-sm-offset-1.col-sm-6
                  a.btn.btn-primary(href='/auth/google') Authorize your Google account
              
              if !user.github
                p.col-sm-offset-1.col-sm-6
                  a.btn.btn-primary(href='/auth/github') Authorize your GitHub account
